@font-face {
  src: url("../fonts/MyriadPro-Regular.otf");
  font-family: "Myriad Pro";
  font-weight: normal;
}
* {
  user-select: none;
}

* {
  color: #2C2355;
  font-family: "Myriad Pro";
}

#root {
  height: 100vh;
  position: relative;
}

body {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

.page_background {
  position: absolute;
  width: 100%;
  height: 100%;
}
.page_background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  display: none;
}
.overlay.active {
  display: block;
  z-index: 5;
}
.overlay .success_animation {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.box {
  width: 1280px;
  height: 720px;
  background: white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  border-radius: 50px;
  padding-left: 125px;
  padding-top: 80px;
  z-index: 2;
}
.box .logo_container {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 217px;
  height: 112px;
}
.box .logo_container .logo {
  width: 133px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.box .logo_container .box_of_logo {
  width: 217px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}
.box .social {
  position: absolute;
  right: 55px;
  bottom: 45px;
}
.box .social .icon {
  float: left;
  margin-right: 15px;
}
.box .social .icon:hover path {
  color: #2C2355;
}
.box .social .icon path {
  color: white;
  transition: color 0.3s ease;
}

.box_background_container .background_box {
  position: absolute;
  left: 0;
  top: 6px;
  right: -4px;
  bottom: -24px;
  z-index: -1;
}

.paragraph {
  margin-bottom: 40px;
  width: 410px;
}
.paragraph p {
  width: 100%;
  font-size: 13px;
  line-height: 15px;
  text-transform: uppercase;
  text-align: justify;
}

.thanks {
  margin-bottom: 40px;
  width: 410px;
}
.thanks p {
  width: 100%;
  font-size: 13px;
  line-height: 15px;
  text-align: justify;
}
.thanks .title {
  margin-bottom: 10px;
}

.form {
  width: 410px;
}
.form .input_text {
  position: relative;
}
.form .input_text label {
  text-transform: uppercase;
  position: absolute;
  top: 18px;
  left: 5px;
  transition: all 0.4s ease;
  cursor: text;
}
.form .input_text label.active {
  font-size: 10px;
  top: 5px;
}
.form .input_text .form-control {
  height: 50px;
  border-bottom: 0.5px solid #2C235538;
  font-size: 16px;
  width: 100%;
  display: block;
  padding: 18px 0 10px 5px;
  margin-bottom: 5px;
}
.form .input_text .form-control::-webkit-input-placeholder {
  /* WebKit browsers */
  text-transform: uppercase;
  color: transparent;
  display: block;
}
.form .input_text .form-control:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  text-transform: uppercase;
  color: transparent;
  display: block;
}
.form .input_text .form-control::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  text-transform: uppercase;
  color: transparent;
  display: block;
}
.form .input_text .form-control:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  text-transform: uppercase;
  color: transparent;
  display: block;
}
.form .input_text .form-control::placeholder {
  /* Recent browsers */
  text-transform: uppercase;
  color: transparent;
  display: block;
}
.form .button_container {
  float: right;
}
.form .button_container button.button {
  margin-top: 25px;
  cursor: pointer;
  width: 162px;
  height: 45px;
  background: #FF5D78;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  text-transform: uppercase;
  transition: background-color 0.4s ease;
}
.form .button_container button.button[disabled], .form .button_container button.button:disabled {
  background: gray;
}
.form .button_container button.button .icon_arrow {
  padding-top: 2px;
  margin-left: 10px;
}
.form .button_container button.button .icon_arrow svg path {
  color: white;
}

.overlap {
  width: 228px;
  bottom: 40px;
  position: absolute;
  left: calc(50% - 640px);
  transform: translateX(-50%);
  z-index: 3;
}

.shadow {
  width: 1280px;
  position: absolute;
  left: 50%;
  top: calc(50% + 385px);
  transform: translate(-50%, -50%);
  mix-blend-mode: multiply;
  z-index: 1;
}
.shadow img {
  text-align: center;
}

.copyright {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 13px;
  text-transform: uppercase;
  opacity: 0.5;
}

/*# sourceMappingURL=app.css.map */
